<div class="innerContent">
	<h1>BAND BIO</h1>

	<p>Run Downhill is a Los Angeles-based indie-country ensemble, featuring Colin Burgess, Nate LaPointe, Ken Lasaine, Tom Moose, and T.J. Troy. A band of varied and eclectic roots, they combine the classic country stylings of the mid-20th century with modern indie rock, folk, and world music aesthetics. Combined with Troy’s rustic fables of hardship, loss, and redemption, Run Downhill positions their work outside of a traditional music context, combining it with the world of comic art and graphic novels. Add a pinch of the California coast for flavor, and the result is broad, lush harmonies, deliciously sonorous melodies, and rich textures descriptive of their comic art counterparts.</p>


	<p>Their inaugural EP, Giants (January 2012) showcases the band’s early, primarily instrumental repertoire, featuring eclectic song forms and deep arrangements, painting a vivid picture of the band’s roots in their many varied musical styles. Troy’s tightly crafted melodic writing describes scenes and landscapes of the fictional world of Run Downhill. Alongside the up-tempo rocker “The Cut of A.P.’s Jib,” and the lonesome ballad “By the storm,” this music is the soundtrack for a rustic world of imagination not too unlike our own.</p>


	<p>For their 2nd release, Kilbourn, the band channeled the raw, unbridled energy of their live performances before a 3-camera video crew; recorded live in a single day, Kilbourn was filmed and edited to include motion graphics by artist Scott Angle. The comic story of “The Carousel Couple” comes to life through Angle’s brilliantly stylized artwork, gently animated by video editor Eddie Young: as the audience listens to Run Downhill’s tight and unfiltered performances, the rich narrative underlying all of Troy’s compositions comes to life before them, each song adding to the sequential comic continuity within the world of Run Downhill.</p>


	<p>Their latest release, SPURS #1, takes this marriage of music and comic narrative to a greater high: the 6-song EP is partnered by a 48-page book, containing 4 chapters of the ongoing Kilbourn saga. Featuring internal artwork by Quinn Salazar, and cover art by Scott Angle, the images were once again edited into video motion comics by editor Eddie Young, creating a highly interactive and highly entertaining CD/book/web device combo. 
	These pieces fold together in perfect synchronicity during the band’s live sets: the comic narrative, in its video form, is projected above the band, allowing the story to play through while the band performs. This highly immersive performance set has intrigued and delighted audiences across Southern California, becoming a staple feature in the band’s public outings.</p>


	<p>Currently, the band performs regularly in the Southern California area, and continues to develop their body of music and graphic novel/comic-related works.</p>
</div>
