<div class="calendar-container">
  <h1>UPCOMING EVENTS</h1>
    <% @posts.each do |f| %>

    <div class="innerContent" style="clear: both">

      <h2><%= f.title %></h2>
        <% if f.img.exists? %>
          <%= image_tag f.img.url(), :class => "post" %><br><br>
        <% end %>
        <p><%= f.body %></p>

        <br><br><br>

    </div>
    <% end %>

</div>