body {
  background: black;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
 }
video {
  z-index: -1;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
/*  pointer-events: none;
*/}
 .video-bg {
  width: 300%;
  height: 300%;
  margin-left: -100%;
  position: absolute;
  top: -100%;
 }
 .email-capture {
  display: none;
  position:absolute;
  top: -777px;
  width: 100%;
  text-align: center;
  z-index: 1000000000;
 }
 .intro-panel{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 60px;
 }
 .panel2, .panel3 {
  opacity: 0;
 }
 .intro-saying {
  color: white;
  font-size: 40px;
  max-width: 450px;
  margin: 0 auto;
  line-height: 100px;
 }
 .button {
  margin: 25px 25px;
  height: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px 50px;
 }

.splash-nav-inner {
  position: fixed;
  height: auto;
  bottom: 37px;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 10000 !important;
}
.splash-nav-inner h1:hover {
  transform: scale(1.2);
}
.nav-text {
  position: relative;
  margin: 0 !important;
  padding: 0 30px !important;
  display: inline-block;
  font-size: 48px;
}
.nav-text-hover {
  display: inline-block;
  font-size: 56px;
}
.section-container {
  position: absolute;
  top: 750px;
  left: 0;
  width: 100%;
  height: 1000px;
}
.section {
  margin-bottom: 25px;
  min-height: 700px;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  background: black;
  background-size: cover;
  display: block;
  padding-bottom: 100px;
}
.for-music {
  background-image: url('/assets/bg1.jpg');
  margin-bottom: 57px;
  text-align: center;
}
.for-comics {
  background-image: url('/assets/bg2.jpg');
  padding: 0 50px 100px 50px;
}
.for-videos {
  background-image: url('/assets/bg3.jpg');
  margin-bottom: 100px;
}
.splash-subheading {
  font-size: 52px;
  position: absolute;
  right: 25px;
  padding: 15px 37px 10px 37px;
  border: 1px solid black;
  margin-top: -7px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 5px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    5px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         5px 5px 0px rgba(50, 50, 50, 0.7);
}

.experience-heading {
  font-size: 52px;
  width: 200px;
  text-align: center;
  padding: 15px 37px 10px 37px;
  border: 1px solid black;
  margin-top: 7px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 5px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    5px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         5px 5px 0px rgba(50, 50, 50, 0.7);
}

.splash-iframe {
   display: block;
   margin: 50px auto;
   max-width: 600px;
}

/* EXPERIENCE-PAGE STYLES */
.music-page {
  background-image: url('/assets/bg1.jpg');
  background-size: cover;
}
.comic-page {
  background-image: url('/assets/bg2.jpg');
  background-size: cover;
}
.video-page {
  background-image: url('/assets/bg3.jpg');
  background-size: cover;
}

.music-page-player {
  border: 0;
  width: 100%;
  max-width: 700px;
  height: 373px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.comics-img-l {
  display: inline-block;
}
.comics-img-r {
  display: inline-block;
  float: right;
}

/* GENERAL STYLES */
.spaced {
  margin: 10px;
}

.bordered {
  max-width: 700px;
  border: 5px solid black;
}

 h1 {
 	font-size: 60px;
 	color: white;
 	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       2px 2px 0 #000;
 }

.noShadow {
  text-shadow: none;
}
 h2 {
  padding-top: 10px;
 	font-size: 36px;
 	text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;

 }

 p {
 	font-size: 20px;
 }

 a, a:visited, a:active {
	color: black;
}

a:hover {
	color: gray;
  text-decoration: none;
}

.innerContent {
	padding: 20px 50px;
  margin-bottom: 75px;
  margin-left: 50px;
  text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.paddedContainer {
  margin-top: 127px;
  min-height: 800px;
  padding: 10px 25px 100px 25px;
}
.brand {
	position: absolute;
	top: 40px;
	left: 10px;
}

.taller {
	height: 120px;
}

.right {
  float: right;
}

.left {
  float: left;
}
.blocked {
	display: block;
}

.bottomPadding {
	padding-bottom: 50px;
}

.topPadding {
	padding-top: 50px;
}

.rightPadding {
  padding-right: 50px;
}

.max400 {
  max-width: 400px;
}

.btn-splash {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 36px;
  padding: 11px 27px;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 5px 5px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    5px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         5px 5px 0px rgba(50, 50, 50, 0.7);
}
.btn-splash:hover {
  margin:0 -2px -1px 0;
  color: black !important;
  -webkit-box-shadow: 2px 2px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    2px 2px 0px rgba(50, 50, 50, 1);
  box-shadow:         2px 2px 0px rgba(50, 50, 50, 1);
}
/* HACKY-HACK for btn-success and btn overrides */
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-default {
    background: #000000;
    color: #ffffff !important;
    margin-bottom: 25px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #4f4642;
}

.btn-default:active, .btn-default.active {
    background: #007299;
    box-shadow: none;
}



.btn-success, .btn-primary {
  color: #fff;
  background-color: #939393;
  border-color: #707070;
}
.btn-success:focus,
.btn-success.focus,
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #7c7c7c;
  border-color: #999999;
}
.btn-success:hover,
.btn-primary:hover {
  color: #fff;
  background-color: #7c7c7c;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary, {
  color: #fff;
  background-color: #7c7c7c;
  border-color: #398439;
  background-image: none;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus  {
  color: #fff;
  background-color: #398439;
  border-color: #999999;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus  {
  background-color: #939393;
  border-color: #707070;
}
.btn-success .badge,
.btn-primary .badge, {
  color: #939393;
  background-color: #fff;
}

/* Smartphones ----------- */
@media only screen and (max-width: 760px) {
  .video-container { display: none; }
  .splash-nav-inner { display: none; }
  .section-container {top: -37px !important;}

  .innerContent {
    padding: 0 50px;
    margin-left: 0 !important;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
