<h1>MUSIC</h1>

<!-- SPURS #1 -->
<div class="row">
	<div class="col-sm-5">
		<iframe class='bordered right' style="width: 400px; height: 700px" src="https://bandcamp.com/EmbeddedPlayer/album=754383222/size=large/bgcol=ffffff/linkcol=0687f5/artwork=large/transparent=true/" seamless>
		</iframe>
	</div>

	<div class="col-sm-7 innerContent right">
		<p><br><br>
			<em><strong>SPURS #1</strong></em> &ndash;Our latest release, <em>SPURS #1</em> takes the partnering of music and comic art to a brand new level! Each song from the album is paired with a chapter from the book, picking up right where &quot;The Carousel Couple&quot; (see our 2nd EP, <em>Kilbourn</em>, listed below) left off. We meet our principal characters, bear witness to tragedy and triumph, and witness as the history of the town of Kilbourn unfolds before our eyes.<br><br>

			Recorded by T.J. Troy at the Kilbourn House, and mixed and mastered by Scott Manzo at Rocky Road Ranch Productions, <em>SPURS #1 </em>is powerful statement from the band, showcasing their prowess in 6 brand new songs! Featuring internal art from Quinn Salazar, and cover art by Scott Angle, each of the book's chapters are also available as Song Comic videos, available on our YouTube Channel; click <a href="https://www.youtube.com/playlist?list=PLYiE80O0eiAB3YFJvguCsqIvxEqIAWKmy">HERE</a> to visit!<br><br>
		</p>
	</div>
</div>

<br><br>

<!-- KILBOURN -->
<div class="row">
	<div class="col-sm-7 innerContent">
		<br><br>
		<p><em><strong>Kilbourn</strong></em> &ndash; the 2nd release from Run Downhill. This project ventures into uncharted waters, as a full 5-song video EP, featuring a motion comic book! Featuring the musical talents of Ivan Johnson, Nate LaPointe, Tom Moose, Justin Smith, and T.J. Troy, this is Run Downhill at its finest!</p>

		<p>This live EP was recorded in one day at the Kilbourn House, mixed and mastered by Scott Manzo at Rocky Road Ranch Productions; filming of the session took place live in the studio under the camera direction of Arthur &ldquo;A.C.&rdquo; Rains-McNally, and edited by Eddie Young at Eddie Young Illustration and Design studios. </p>
		
		<p>In addition to the live performance footage, the videos also contain an illustrated comic, &ldquo;The Carousel Couple,&rdquo; written by resident author John Castlerock, and featuring amazing artwork by Scott Angle! This work has been reformated and re-released in as a 40-page illustrated book, available now at our online store!<br />
		  <br />
		Watch all 5 videos on our YouTube channel: click <a href="http://www.youtube.com/playlist?list=PLYiE80O0eiACcIM9XYeAPBhrFfXyeBDs-">HERE</a> to go to our channel.</p>
		<br><br>
	</div>

	<div class="col-sm-5">
		<iframe class='bordered left' style="width: 400px; height: 700px" src="https://bandcamp.com/EmbeddedPlayer/album=2169216526/size=large/bgcol=ffffff/linkcol=0687f5/artwork=large/transparent=true/" seamless>
		</iframe>
	</div>

</div>

<br><br>

<!-- GIANTS -->
<div class="row">
	<div class="col-sm-5">
		<iframe class='bordered right' style="width: 400px; height: 700px" src="https://bandcamp.com/EmbeddedPlayer/album=4132575120/size=large/bgcol=ffffff/linkcol=0687f5/artwork=large/transparent=true/" seamless>
		</iframe>
	</div>

	<div class="col-sm-7 innerContent right">
		<p><br><br>
			<em><strong>SPURS #1</strong></em> &ndash;Our latest release, <em>SPURS #1</em> takes the partnering of music and comic art to a brand new level! Each song from the album is paired with a chapter from the book, picking up right where &quot;The Carousel Couple&quot; (see our 2nd EP, <em>Kilbourn</em>, listed below) left off. We meet our principal characters, bear witness to tragedy and triumph, and witness as the history of the town of Kilbourn unfolds before our eyes.<br><br>

			Recorded by T.J. Troy at the Kilbourn House, and mixed and mastered by Scott Manzo at Rocky Road Ranch Productions, <em>SPURS #1 </em>is powerful statement from the band, showcasing their prowess in 6 brand new songs! Featuring internal art from Quinn Salazar, and cover art by Scott Angle, each of the book's chapters are also available as Song Comic videos, available on our YouTube Channel; click <a href="https://www.youtube.com/playlist?list=PLYiE80O0eiAB3YFJvguCsqIvxEqIAWKmy">HERE</a> to visit!<br><br>
		</p>
	</div>
</div>

<br><br>

</div>