<div class="row">
  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-15 col-sm-15">
  	<h1>NEW SONG-COMIC ALBUM</h1>
  </div>

  <div class="col-xs-15 col-sm-9">This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?This is how much...?</div>

  <div class="col-xs-6 col-sm-3">WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS WHATABOUTTHIS
</div>
</div>
