<div class="paddedContainer comic-page">
<h1 class="experience-heading">COMICS</h1>

<div class="innerContent clearfix">
  <h1>SPURS #2.3</h1>
    <%= image_tag("comics_splash_spurs23.png", class: "pull-left img-responsive rightPadding") %>
    <p>Coming Spring 2016</p>
</div>

<div class="innerContent clearfix">
	<h1>SPURS #2.2</h1>
    <%= image_tag("comics_splash_spurs22.png", class: "pull-left img-responsive rightPadding") %>
	  <p>
      SPURS #2.2/Midnight Road Trip includes 7-song CD, 24-page comic book and a redeemable download code for a complimentary digital copy. Features chapters 7 and 8 of the ongoing KILBOURN saga, written by T.J. Troy, illustrated by Chris McFann, with music performed by Run Downhill.
    </p>
</div>

<div class="innerContent clearfix">
	<h1>SPURS #1</h1>
    <%= image_tag("comics_splash_spurs1.png", class: "pull-left img-responsive rightPadding") %>
	<p><span style="color: red; font-weight: bold">(OUT OF PRINT)</span>
    SPURS #1 includes 6-song CD, 48-page comic book and a redeemable download code for a complimentary digital copy. Features chapters 1 through 4 of the ongoing KILBOURN saga, written by T.J. Troy, illustrated by Quinn Salazar, with music performed by Run Downhill.
  </p>
</div>

<div class="innerContent clearfix">
	<h1>Kilbourn / SPURS #0</h1>
    <%= image_tag("comics_splash_kilbourn.jpg", class: "pull-left img-responsive rightPadding max400") %>
	<p><span style="color: red; font-weight: bold">(OUT OF PRINT)</span></p>
</div>
</div>