<div class="paddedContainer comic-page">
<h1>COMICS</h1>
<div class="innerContent">
	<h1>SPURS #2.2</h1>
	<p>Preview coming soon!</p>
</div>

<div class="innerContent">
	<h1>SPURS #1</h1>
	<p>Preview coming soon!!</p>
</div>

<div class="innerContent">
	<h1>Kilbourn</h1>
	<p>Preview coming soon!!!</p>
</div>
</div>