body {
/* 	background-image: url('bg1.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding: 150px 50px;
 }

 .post {
 	min-width: 50%;
 	max-width: 100%
 }

 h1 {
 	font-size: 60px;
 }

 a, a:visited, a:active {
	color: black;
}

a:hover {
	color: gray;
}

.innerContent {
	padding: 0 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

.brand {
	height: 75px;
	position: absolute;
	top: 40px;
	left: 10px;
}

.taller {
	height: 120px;
}

.blocked {
	display: block;
}

.bottomPadding {
	padding-bottom: 50px
}

.topPadding {
	padding-top: 50px
}