<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title" style="font-size: 34px;" id="tooyoung-title">Too Young To Die</h2>
    </div>
    <div class="panel-body story-inactive" id="tooyoung-story">
      <p>For every impression that's drawn from a moment,<br />
        there's always a lingering chagrin:</p>
        <p>that the one true Face may never be seen.</p>
        <p>And on journeys that take us so far from our families,<br />
          but leave us with real constancy,</p>
        <p>I've had nothing to drink; and besides,<br />
          I'm too young to die.</p>
        <p>Too young to die; too old to know better,<br />
          too blind to move easily out of the way.</p>
        <p>Like the white of the snow that's reflecting the sun in my eyes.</p>
        <p>Too tired to sleep, too hungry to dine,<br />
          though the feast now before me is laid.</p>
        <p>Though the coffin is built so fine,<br />
          I'm too young to die.</p>
        <p>Too young to die<br />
          too bitter to swallow.</p>
        <p>You resist, yet you keep coming to me&hellip;</p>
        <p>A mockingbird changes her tune for the one<br />
          that she's trying so hard to impress,</p>
        <p>and though you won't dance with me,<br />
          you still wear that dress.</p>
        <p>Be kind! <br />
          I've said it now over and over,<br />
          and every occasion you're running for cover, and all we can witness are<br />
          signs that suggest the sky has gone out.</p>
        <p>How can it be anything less than a basket of roses?<br />
          My love and I finally entwined (on the firing line)&hellip;</p>
        <p>I'm begging you:</p>
        <p>Give me time!<br />
          I'm too young to die.</p>
    </div>
</div>

<script type="text/javascript">
    (function() {
        var title2 = document.getElementById('tooyoung-title'),
            content2 = document.getElementById('tooyoung-story');

        title2.addEventListener('mouseover', function() {
            content2.classList.add('story-preview');
        });
        content2.addEventListener('mouseover', function() {
            content2.classList.add('story-preview');
        });
        title2.addEventListener('mouseout', function() {
            content2.classList.remove('story-preview');
        })
        content2.addEventListener('mouseout', function() {
            content2.classList.remove('story-preview');
        })
    })();
</script>