<div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title" style="font-size: 34px;" id="tooyoung-title">Adagio</h2>
    </div>
    <div class="panel-body story-inactive" id="tooyoung-story">
      <p>
        We were smoking tobacco without the papers.<br />
        It had nothing to do with our demeanor.<br />
        We ddn't care if we didn't wake up<br />
        if the garage filled too quickl with vapors.<br />
        The dash purrs with the click of the tape deck.<br />
        Whirs and stricks within the dank of the seats,<br />
        we had no better place to be. <br />
        So liquored and in a cab we took to the town.<br />
        The party became wall to wall funk. <br />
        Bodies upon me and all I'm in the backroom, <br />
        the police had made a call. <br />
        Maestro, indifferent, upon a whiff from my jacket.<br />
        You'd never mistake my face again. <br />
        From scene to scene, <br />
        equipped as a moving bar, <br />
        refill at a station near you.<br />
        I missed you, hiding in a corner, <br />
        no doubt you cancelled me out when I came<br />
        blazing in like a sample book of matches.<br />
        Under the low brow of my cap. <br />
        I could seldom wait to get back. <br />
        To smoke in a room with the corners and curtains drawn,<br />
        To loose myself with the engine of my car turned on.
      </p>
    </div>
</div>

<script type="text/javascript">
    (function() {
        var title2 = document.getElementById('tooyoung-title'),
            content2 = document.getElementById('tooyoung-story');

        title2.addEventListener('mouseover', function() {
            content2.classList.add('story-preview');
        });
        content2.addEventListener('mouseover', function() {
            content2.classList.add('story-preview');
        });
        title2.addEventListener('mouseout', function() {
            content2.classList.remove('story-preview');
        })
        content2.addEventListener('mouseout', function() {
            content2.classList.remove('story-preview');
        })
    })();
</script>