<h1>IT GOES BACK FURTHER THAN YOU WOULD THINK...</h1>

<div class="innerContent">
	<p>
	As a boy, I spent my days in and around the apple and cherry orchards; they were the perfect cover for the misadventures of any youngster eager to explore the waking lands of his imagination, lost in parallel rows of trees and water lines. Autumn, you could find me alone, poking at dead beehives with a switch, careful to stay out of sight, until I tired and wandered home for a meal.
	</p>

	<p>
	There were two basic geographies: the hill and the valley. The valley fruit always ripened first, the lower elevation bringing an earlier blossom, which meant earlier fruit and earlier harvest. Many farmers had land in both the valley and on the hill, which gave them no real advantage except that the picking season was longer.
	</p>

	<p>
	I was not an orchardist, but I had a friend who was; his family owned land both in the valley and on the hill. The house he grew up in was up on the heights, 10 or 12 miles outside of town. You took the mountain road like you were going to the outskirts, and then took a side road leading up a series of cutbacks, leveling off at the top. There were a few deadly corners on this road; the locals navigated them with care and respect, but every few years a carload of teenagers or someone drunk would round a corner too fast and couldn’t correct the vehicle in time before ripping through the guard rail, over a cliff, onto the rocks below. There were more than a few makeshift crosses and memorials on the side of the road, gone too long unattended, flowers wilted and dried in the high desert sun.
	</p>

	<p>
	It was a long time before I was ever invited up to his house on the hill, mostly because someone would have had to drive me there and back, which meant a lot of extra driving for either his parents or mine. His family had their own everything: chicken coops, compost heaps, pigs being fattened for the county fair, sheds that housed tools of strange shapes, machinery that seemed inhabited by spirits of workers fallen before my time, heavily greased, stained with grass and spray, intimidating as hell. My other friends had the privilege of riding the ATVs, ripping up and down lanes of apple and cherry trees. I, however, had broken several bones on the cursed things, and so I opted to use my feet and legs to carry me places I wanted to go.
	</p>

	<p>
	The livestock were kept across the road from the house: cows that each year calved, and those calves were either sold or kept to milk. The aforementioned pigs, their pen was here; there was a small stable with a donkey, and some other fellows lived in and around the area, birds that drank from the troughs, etc. You approached the stable and pen area on a dirt road scarred into the land. It continued past the stable area, until you came to a gate (it was never locked) that swung open and the road sprawled down an enormous hillside. Not a cliff, but steep and rocky, desert scrub and chaparral, stretching for miles in front of you. From where you stood at the top, the backside of the valley loomed ahead for what was probably 30 or 40 miles; you could see other orchards and farms in the distance, but you never had the feeling that there was any other living thing out there with you. Just the sky, the heat, the land, and untouched space beyond, and it was quiet.
	</p>

	<p>
	My friend always told me the road kept going on down and down until it bottomed out in a field of wheat, but in all the years we never ventured all the way (he told me once that he had done it alone, when he was too little to hardly remember, and he fell asleep in that field and his father drove the truck down and scooped him up, still sleeping, and stole him back up the hill. He never told me if he was punished for the excursion, but generally it was frowned upon to venture away from the house alone).
	</p>

	<p>
	And we played on that hillside: we would dig up rocks and boulders with our boots and roll them down that hill, the echoes of the stone’s weight crushing the earth reverberated with a thunder. We were left to our devices, we ran up and down, threw stones and cow pies, told fantastic stories and composed our own legends.
	</p>

	<p>
	One day my friend told me about the bull that lived on that hill: huge and horned, over 2400 lbs, and he was angry. The hillside was open and he was allowed to move freely, finding whatever vegetation he could to graze, and exist with his fury unchecked. His presence marked an essential link in the ever-present cycle of life: he was used to stud the cows. And after services rendered, he continued his vigil over the hill and the stones and tumbleweeds and all the devils what lay quietly beneath my vision.
	</p>

	<p>
	“One thing you should keep in mind,” my friend told me one day as we walked on the hillside, “the bull could be anywhere, he just wanders around here and there, so you have to watch out. He’s fast and mean and completely wild.” My friend stood 10 feet away from me, talking nonchalant about the danger within.
	</p>

	<p>
	“But don’t worry about it too much; his legs are fast, yeah, but they can only carry him on flat land.” His father had told him this much before, he merely passed along the note to me, I was left to take care of it myself.
	</p>

	<p>
	“So what do I do?” I asked.
	</p>

	<p>
	“Well, if he comes after you, if you run across the hill, he’ll outrun you, probably gore you.” He didn’t gesture much, but stood with his weight on one leg. “But if you run down, he can’t follow, because his legs are too weak, his knees can’t take it, and he stops chasing.”
	</p>

	<p>
	I turned and looked down the hillside; far off in the distance was a wheatfield, or so I was told. But he could have told me anything, I would have believed it; he could have told me that at the bottom was an unfathomable lake of fire, where every blessed thing burned, and I would have believed it. I still would have made it a point to walk down there, to see for myself.
	</p>

	<p>
	“If the bull starts to chase you,” my friend told me, “just run downhill…”
	</p>

	<p class="right">- John Castlerock</p>
</div>