<div class="stories-container">
	<h1>IT GOES BACK FURTHER THAN YOU WOULD THINK...</h1>
</div>

<div class="innerContent" style="margin-right: 50px" id="it-goes-back">
	<br><br>
	<p>
	As a boy, I spent my days in and around the apple and cherry orchards; they were the perfect cover for the misadventures of any youngster eager to explore the waking lands of his imagination, lost in parallel rows of trees and water lines. Autumn, you could find me alone, poking at dead beehives with a switch, careful to stay out of sight, until I tired and wandered home for a meal.
	</p>

	<p>
	There were two basic geographies: the hill and the valley. The valley fruit always ripened first, the lower elevation bringing an earlier blossom, which meant earlier fruit and earlier harvest. Many farmers had land in both the valley and on the hill, which gave them no real advantage except that the picking season was longer.
	</p>

	<p>
	I was not an orchardist, but I had a friend who was; his family owned land both in the valley and on the hill. The house he grew up in was up on the heights, 10 or 12 miles outside of town. You took the mountain road like you were going to the outskirts, and then took a side road leading up a series of cutbacks, leveling off at the top. There were a few deadly corners on this road; the locals navigated them with care and respect, but every few years a carload of teenagers or someone drunk would round a corner too fast and couldn’t correct the vehicle in time before ripping through the guard rail, over a cliff, onto the rocks below. There were more than a few makeshift crosses and memorials on the side of the road, gone too long unattended, flowers wilted and dried in the high desert sun.
	</p>

	<p>
	It was a long time before I was ever invited up to his house on the hill, mostly because someone would have had to drive me there and back, which meant a lot of extra driving for either his parents or mine. His family had their own everything: chicken coops, compost heaps, pigs being fattened for the county fair, sheds that housed tools of strange shapes, machinery that seemed inhabited by spirits of workers fallen before my time, heavily greased, stained with grass and spray, intimidating as hell. My other friends had the privilege of riding the ATVs, ripping up and down lanes of apple and cherry trees. I, however, had broken several bones on the cursed things, and so I opted to use my feet and legs to carry me places I wanted to go.
	</p>

	<p>
	The livestock were kept across the road from the house: cows that each year calved, and those calves were either sold or kept to milk. The aforementioned pigs, their pen was here; there was a small stable with a donkey, and some other fellows lived in and around the area, birds that drank from the troughs, etc. You approached the stable and pen area on a dirt road scarred into the land. It continued past the stable area, until you came to a gate (it was never locked) that swung open and the road sprawled down an enormous hillside. Not a cliff, but steep and rocky, desert scrub and chaparral, stretching for miles in front of you. From where you stood at the top, the backside of the valley loomed ahead for what was probably 30 or 40 miles; you could see other orchards and farms in the distance, but you never had the feeling that there was any other living thing out there with you. Just the sky, the heat, the land, and untouched space beyond, and it was quiet.
	</p>

	<p>
	My friend always told me the road kept going on down and down until it bottomed out in a field of wheat, but in all the years we never ventured all the way (he told me once that he had done it alone, when he was too little to hardly remember, and he fell asleep in that field and his father drove the truck down and scooped him up, still sleeping, and stole him back up the hill. He never told me if he was punished for the excursion, but generally it was frowned upon to venture away from the house alone).
	</p>

	<p>
	And we played on that hillside: we would dig up rocks and boulders with our boots and roll them down that hill, the echoes of the stone’s weight crushing the earth reverberated with a thunder. We were left to our devices, we ran up and down, threw stones and cow pies, told fantastic stories and composed our own legends.
	</p>

	<p>
	One day my friend told me about the bull that lived on that hill: huge and horned, over 2400 lbs, and he was angry. The hillside was open and he was allowed to move freely, finding whatever vegetation he could to graze, and exist with his fury unchecked. His presence marked an essential link in the ever-present cycle of life: he was used to stud the cows. And after services rendered, he continued his vigil over the hill and the stones and tumbleweeds and all the devils what lay quietly beneath my vision.
	</p>

	<p>
	“One thing you should keep in mind,” my friend told me one day as we walked on the hillside, “the bull could be anywhere, he just wanders around here and there, so you have to watch out. He’s fast and mean and completely wild.” My friend stood 10 feet away from me, talking nonchalant about the danger within.
	</p>

	<p>
	“But don’t worry about it too much; his legs are fast, yeah, but they can only carry him on flat land.” His father had told him this much before, he merely passed along the note to me, I was left to take care of it myself.
	</p>

	<p>
	“So what do I do?” I asked.
	</p>

	<p>
	“Well, if he comes after you, if you run across the hill, he’ll outrun you, probably gore you.” He didn’t gesture much, but stood with his weight on one leg. “But if you run down, he can’t follow, because his legs are too weak, his knees can’t take it, and he stops chasing.”
	</p>

	<p>
	I turned and looked down the hillside; far off in the distance was a wheatfield, or so I was told. But he could have told me anything, I would have believed it; he could have told me that at the bottom was an unfathomable lake of fire, where every blessed thing burned, and I would have believed it. I still would have made it a point to walk down there, to see for myself.
	</p>

	<p>
	“If the bull starts to chase you,” my friend told me, “just run downhill…”
	</p>
	<p class="right">- John Castlerock</p>
	<br><br><br><br>
</div>

	<h1>UNTITLED</h1>
	<div class="innerContent" style="margin-right: 50px">
		<br><br>
    <p>I don't remember falling asleep. But I remember waking, disoriented, to the
    	blaring siren of the<br />
      telephone. I'm late again, but I was not sure neither who or what I was, where I am or where I<br />
      needed to be. I don't have a clock. Yes, these are my sheets, my pillow, the mattress that cuts<br />
      my lower back into juicy ground chuck. But there was an unfamiliarity about the air. With each <br />
      breath I am holding back tears. There is the pair of belted pants that will suffice for today. There was work to be<br />
      done, and I was the only one to do it. I'm solid, like a wall, yet I bend like a sappling in the midst of a Buddhist <br />
      parable; I give way to the currents of a swollen river. Throughout the storm, I will be tossed like a rag doll, but<br />
      when a passive earth returns after this tumultuous sky, I will be the only thing left standing; <br />
      I am tall, by standards of height, by the standards of most men. This one fact is all that bathes me, clothes me, nourishes the living body and manuevers it through the world. <br />
      I have no choice; I'm merely along for this ride. There's this medicine that I take alot of; when I put shoes on and walk outside, I've forgotten my cigarettes and will return home to get them. <br />
      I can drive almost any car.
    </p>
	  <p class="right">- John Castlerock</p>
	  <br><br><br><br>
	</div>

<h1>DON'T CUT YOUR HAIR</h1>
<div class="innerContent" style="margin-right: 50px">
	<br><br>
      <p>Hey, listen to me:</p>
      <p>Don&rsquo;t cut your hair so short again.</p>
      <p>All I&rsquo;m trying to say, it&rsquo;s at a good length for your face.</p>
      <p>Baby, let your hair grow long!<br />
        Or, there&rsquo;s nothing I can blow my kisses to&hellip;</p>
      <p>You keep trying to say <br />
        you want your bangs out of your face.</p>
      <p>You had to clean it up,<br />
        it&rsquo;s all at uneven lengths.</p>
      <p>Baby, let your hair grow long!<br />
        Or, there&rsquo;s nothing I can blow my kisses to&hellip;</p>
      <p>But you got such a style,</p>
      <p>I don&rsquo;t care about your hair&hellip;</p>
      <p>C&rsquo;mon, let it grow.</p>
      <p class="right">- John Castlerock</p>
      <br><br><br><br>
</div>


<h1>ADAGIO</h1>
<div class="innerContent" style="margin-right: 50px">
	<br><br>
      <p>We were smoking tobacco without the papers.<br />
        It had nothing to do with our demeanor.<br />
        We ddn't care if we didn't wake up<br />
        if the garage filled too quickl with vapors.<br />
        The dash purrs with the click of the tape deck.<br />
        Whirs and stricks within the dank of the seats,<br />
        we had no better place to be. <br />
        So liquored and in a cab we took to the town.<br />
        The party became wall to wall funk. <br />
        Bodies upon me and all I'm in the backroom, <br />
        the police had made a call. <br />
        Maestro, indifferent, upon a whiff from my jacket.<br />
        You'd never mistake my face again. <br />
        From scene to scene, <br />
        equipped as a moving bar, <br />
        refill at a station near you.<br />
        I missed you, hiding in a corner, <br />
        no doubt you cancelled me out when I came<br />
        blazing in like a sample book of matches.<br />
        Under the low brow of my cap. <br />
        I could seldom wait to get back. <br />
        To smoke in a room with the corners and curtains drawn,<br />
        To loose myself with the engine of my car turned on. <br />
<br />
            </p>
      <p class="right">-John Castlerock</p>
      <br><br><br><br>
</div>

<h1>MARY </h1>
<div class="innerContent" style="margin-right: 50px">
	<br><br>
    <p>It&rsquo;s true that you should take some time off.<br />
      You shouldn&rsquo;t be in love so soon.</p>
    <p>I&rsquo;m gonna remove the word &ldquo;should&rdquo; from your vocabulary.</p>
    <p>It&rsquo;s true you shouldn&rsquo;t have to need me.<br />
      But why are you so frightened that you do?</p>
    <p>Forget the others; how could they have known that you belong to me?</p>
    <p>I&rsquo;m gonna hold on for dear life.</p>
    <p>Hold onto you.</p>
    <p>You try so hard not to look at me,<br />
      but it&rsquo;s all in vain,</p>
    <p>for even strangers see the love that&rsquo;s in your eyes.</p>
    <p>Oh, you can&rsquo;t run from me.<br />
      I got my hooks in you.</p>
    <p>And, I&rsquo;m gonna hold on for dear life.</p>
    <p>Hold onto you.</p>
    <p>It&rsquo;s true you never even asked me:<br />
      why should I fall so hard for you?</p>
    <p>And without warning,</p>
    <p>you run and hide yourself a million miles from me.</p>
    <p class="right">- John Castlerock</p>
    <br><br><br><br>
</div>

<h1>PEARLS BEFORE SWINE</h1>
<div class="innerContent" style="margin-right: 50px">
	<br><br>
  <p>And it&rsquo;s true<br />
    I&rsquo;ve grown accustomed to<br />
    All the sweet goodbyes and all the &ldquo;fare thee wells.&rdquo;</p>
  <p>Now I see<br />
    What lies in store for me<br />
    Is nothing, short of going straight to Hell.</p>
  <p>Turn your pockets out.<br />
    Their empty contents tumble to the ground.</p>
  <p>Slipped through my fingertips.<br />
    I&rsquo;ve been working turning square holes into round.</p>
  <p>All this time<br />
    To erase this debt implied<br />
    Just like arsenic in my wine<br />
    Might was well resign.</p>
  <p>All these lies<br />
    They afford you no disguise<br />
    Throw my pearls before your swine<br />
    Might as well resign.</p>
  <p class="right">-John Castlerock</p>
  <br><br><br><br>
</div>


<h1>RED TIDE</h1>
<div class="innerContent" style="margin-right: 50px">
	<br><br>
      <p>There's a rise in the water<br />
        as it is pushed to shore<br />
        by a larger hand. </p>
      <p>The sound gives it away;<br />
        the curl of whitewater<br />
        tumbling down the wall, <br />
				<br />
        We were sitting fifty feet away<br />
        and we didn't want to risk it,<br />
        and I tried to include you<br />
        as I wrapped a blanket around us<br />
        (we were both so cold) <br />
        and the mist left drops in our hair<br />
        and you dropped a bomb;</p>
      <p>and the tide,<br />
        it continued to reach for me<br />
        and I did not want to be consumed,<br />
        but I did not want <br />
        to be removed<br />
        from danger of being consumed.</p>
      <p>Drawn out to sea<br />
        by a phosphorescent tide<br />
        without the light<br />
        nor the buoyancy<br />
        to float and be found alive<br />
        on the surface of dark waters. </p>
      <p class="right">-John Castlerock</p>
      <br><br><br><br>
</div>

<h1>BY THE STORM</h1>
<div class="innerContent" style="margin-right: 50px">
	<br><br>
    <p>Who knocks on my door?<br />
      At this time, in this season,<br />
      I lie sleeping alone; for some reason,<br />
      I'm older, my bones ache,<br />
      the wind hits me harder than before.</p>
    <p>Without you, I lie here,<br />
      just sleeping, not dreaming;<br />
      for 13 years now, you lie<br />
      hungry and cold,<br />
      in a grave that I marked with a stone.</p>
    <p>Who knocks on my door?<br />
      At this hour of the night,<br />
      when we all should be wrapped in our bedclothes&hellip;</p>
    <p>In spite of myself, <br />
      and the winter outside,<br />
      I slumbered and dreamt of a fireside&hellip;</p>
    <p>There, by the hearth,<br />
      in a blanket of wool,<br />
      you sat waiting, as I brought myself in from the cold.</p>
    <p>There'd be tea in the morning,<br />
      and breakfast be fed,<br />
      if I just let myself in&hellip;</p>
    <p>I came from my sleeping<br />
      back to my awake<br />
      and found knocking;</p>
    <p>By mistake,<br />
      I rose, to the hallway I stood,<br />
      thinking you had come home<br />
      and were cold,</p>
    <p>And I opened the door<br />
      to the wind and the snow<br />
      and a branch was found knocking.</p>
    <p>Just a ghost left behind by the storm.</p>
    <p class="right">- John Castlerock</p>
    <br><br><br><br>
</div>

	<h1>THE CUT OF A.P.'S JIB</h1>
		<div class="innerContent" style="margin-right: 50px">
			<br><br>
	    <p>Oh, the witchdoctor put something strange in the food<br />
	      and now the heat in the room is getting too much to take.</p>
	    <p>And this long-legged woman puts her move on the make;<br />
	      by no surprise I could shake</p>
	    <p>She brushed up next to me&hellip;</p>
	    <p>Well, she picked my pocket, then the very next day<br />
	      she mailed back my wallet; everything was still there,</p>
	    <p>Save for the rubber I carry, so everybody knows I'm ready to roll.</p>
	    <p>She played so hard to get;<br />
	      she had every man in that room wrapped around her finger.</p>
	    <p>And while she stole up all their money they just all stood around<br />
	      and while I knew my time was coming, I swore up and down,</p>
	    <p>I'd do everything I could to try to catch her eye.</p>
	    <p>I tried to catch it,<br />
	      Lord, I tried to check it.</p>
	    <p>I tried to change her mind,<br />
	      but all she wants to do is play.</p>
	    <p>She played so hard to get.</p>
	    <p class="right">- John Castlerock</p>
	    <br><br><br><br>
	</div>

	<h1>TOO YOUNG TO DIE</h1>
		<div class="innerContent" style="margin-right: 50px;">
			<br><br>
			<p>For every impression that's drawn from a moment,<br />
				there's always a lingering chagrin:</p>
		    <p>that the one true Face may never be seen.</p>
		    <p>And on journeys that take us so far from our families,<br />
		      but leave us with real constancy,</p>
		    <p>I've had nothing to drink; and besides,<br />
		      I'm too young to die.</p>
		    <p>Too young to die; too old to know better,<br />
		      too blind to move easily out of the way.</p>
		    <p>Like the white of the snow that's reflecting the sun in my eyes.</p>
		    <p>Too tired to sleep, too hungry to dine,<br />
		      though the feast now before me is laid.</p>
		    <p>Though the coffin is built so fine,<br />
		      I'm too young to die.</p>
		    <p>Too young to die<br />
		      too bitter to swallow.</p>
		    <p>You resist, yet you keep coming to me&hellip;</p>
		    <p>A mockingbird changes her tune for the one<br />
		      that she's trying so hard to impress,</p>
		    <p>and though you won't dance with me,<br />
		      you still wear that dress.</p>
		    <p>Be kind! <br />
		      I've said it now over and over,<br />
		      and every occasion you're running for cover, and all we can witness are<br />
		      signs that suggest the sky has gone out.</p>
		    <p>How can it be anything less than a basket of roses?<br />
		      My love and I finally entwined (on the firing line)&hellip;</p>
		    <p>I'm begging you:</p>
		    <p>Give me time!<br />
		      I'm too young to die.</p>
		    <p class="right">- John Castlerock</p>
		    <br><br><br><br>
	</div>

