 body {
 	background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 150px;
 }

.innerContent {
	padding: 0 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

.brand {
	height: 75px;
	position: absolute;
	top: 40px;
	left: 10px;
}

.taller {
	height: 120px;
}

.blocked {
	display: block;
}

h1 {
	font-size: 100px;
}