<div class="form-actions">
  <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn btn-success'} %>
  <span class="or"><%= Spree.t(:or) %></span>
  <%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'remove' %>
</div>