  <% @posts.each do |f| %>
 	
 	<div style="clear: both">
 	
	 	<h2><%= f.title %></h2>
	  	<%= image_tag f.img.url(:medium), :class => "post" %>
	  	
	  	<p><%= f.body %></p>
		
		<p style="text-align: right;">
			<%= link_to "See All...", main_app.full_path(f) %>
		</p>
	    
	    <br><br><br>	
	</div>
 
  <% end %>