<div class="video-container">
    <iframe class="video-bg" src="https://www.youtube.com/embed/rjW_xDpwCk8?loop=1&autoplay=1&rel=0&showinfo=0&controls=0&playlist=rjW_xDpwCk8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="splash-navigation">
  <div class="splash-nav-inner">
    <div class="box">
      <h1 style="margin: 0; padding: 0">MUSIC</h1>
    </div>
    <div class="box">
      <h1 style="margin: 0; padding: 0">COMICS</h1>
    </div>
    <div class="box">
      <h1 style="margin: 0; padding: 0">VIDEOS</h1>
    </div>
  </div>
</div>

<div class="first section for-music">
</div>

<div class="section for-comics">
</div>

<div class="last section for-videos">
</div>
