<h1>SPURS #2.2 - Available Now!</h1>

<div class="row">
	
	<div class="col-md-8">
		<%= render 'posts' %>
	</div>

	<div class="col-md-4">
		<h2>STREAM the NEW ALBUM</h2>
		<iframe class="post" width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/149882599&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

		<h2>THE EXPERIENCE</h2>
		<iframe class="post" width="100%" height="315" src="https://www.youtube.com/embed/EqjwvgrRgyI" frameborder="0" allowfullscreen></iframe>
		<p class="innerContent">Click on the 'EXPERIENCE' tab up top for more videos!</p>
	</div>

</div>