
  <div class="email-capture" id="emailCapture">
    <%= image_tag("spalsh_capture.png", class: 'img-responsive', style: 'margin: 0 auto') %>

    <div class="intro-panel panel1" id="intro-panel">
      <h1 class="intro-saying">
        I suppose you want something for free?
      </h1>
      <button type="button" class="btn btn-white">YEP!</button>
      <button type="button" class="btn btn-white">No...</button>
    </div>
    <div class="intro-panel panel2" id="yes-panel">
      <h1 class="intro-saying">
        Give me your email. I'll send you something.
      </h1>
      <span class="button" id="yes-btn-no">CANCEL</span>
      <span class="button" id="yes-btn-yes">SEND</span>
    </div>
    <div class="intro-panel panel3" id="no-panel">
      <h1 class="intro-saying">
        Good.
      </h1>
      <span class="button" id="no-btn-no">CANCEL</span>
      <span class="button" id="no-btn-yes">SEND</span>
    </div>
  </div>
<div class="video-container">
    <iframe class="video-bg" src="https://www.youtube.com/embed/rjW_xDpwCk8?wmode=transparent&loop=1&autoplay=1&rel=0&showinfo=0&controls=0&playlist=rjW_xDpwCk8" frameborder="0" allowfullscreen></iframe>
</div>

<div class="splash-nav-inner" style="z-index: 100000">
    <a href="#for-music"><h1 class="nav-text">MUSIC</h1></a>
    <a href="#for-comics"><h1 class="nav-text">COMICS</h1></a>
    <a href="#for-videos"><h1 class="nav-text">VIDEOS</h1></a>
</div>
<div class="section-container" id="section-container">
  <div class="section for-music" id="for-music">
    <h2 class="splash-subheading">MUSIC</h2>

    <iframe class="splash-iframe" width="100%" height="677" scrolling="no" style="padding-top: 107px" border="none" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/149882599&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

    <h2><a href="/experience/music" class="btn-splash">MORE MUSIC</a></h2>

  </div>

  <div class="section for-comics" id="for-comics">
    <h2 class="splash-subheading">COMICS</h2>
    <div class="row" style="text-align: center; margin-bottom: 20px; padding-top: 100px;">
      <div class="col-md-4"><%= image_tag("comics_splash_spurs23.png", class: 'img-responsive', style: 'margin: 0 auto') %></div>
      <div class="col-md-8" style="background: rgba(255, 255, 255, 0.5);"><h2>SPURS #2.3.1</h2><p>AVAILABLE NOW</p>
        <a href="/store" class="btn btn-default">BUY NOW</a>
      </div>
    </div>
    <div class="row" style="text-align: center; margin-bottom: 20px;">
      <div class="col-md-7"><%= image_tag("comics_splash_spurs22.png", class: 'img-responsive', style: 'margin: 0 auto') %></div>
      <div class="col-md-5" style="background: rgba(255, 255, 255, 0.5);"><h2>SPURS #2.2</h2>
        <p>Hear all about the project on ComixBrew Episode #120.5</p>
        <audio controls>
          <source src="http://hwcdn.libsyn.com/p/c/f/3/cf3adc5ca78d0145/ComixBrew_Episode_120.5.mp3?c_id=9869519&expiration=1460251018&hwt=f2ebb18e4b4c03e6ea8c6cdf839aaef4">
             Your browser does not support the audio element, but you can visit their website and stream the content here: <a href="http://www.comixbrew.net/2015/09/podcast/comixbrew-episode-120-5-tj-troy-and-chris-mcfann-spurs-2-2/">www.comixbrew.net</a>
        </audio><br><br>
        <a href="/store" class="btn btn-default">BUY NOW</a>
      </div>
    </div>
    <div style="text-align: center; width: 100%; padding-top: 25px;">
      <h2><a href="/experience/comics" class="btn-splash">MORE COMICS</a></h2>
    </div>

  </div>

  <div class="section for-videos" id="for-videos">
    <h2 class="splash-subheading">VIDEOS</h2>
    <iframe width="100%" height="480" style="padding-top: 107px" class="splash-iframe" src="https://www.youtube.com/embed/eEIhg_enmwk" frameborder="0" allowfullscreen></iframe>
    <iframe width="100%" height="480" class="splash-iframe" src="https://www.youtube.com/embed/LclrZ5TWSxg" frameborder="0" allowfullscreen></iframe>
    <div style="text-align: center; width: 100%; padding-top: 10px;">
      <h2><a href="/experience/videos" class="btn-splash">MORE VIDEOS</a></h2>
    </div>
  </div>

</div>

<script type="text/javascript">
//SET SECTION-CONTAINER TOP
var windowHeight = $(window).height();
var sectionHeight = '"' + (windowHeight + 40) + 'px"';

console.log(sectionHeight);

$("#section-container").css('top', $(window).height() + "px");

setHeight(sectionHeight);

// SCROLL ANIMATION
$('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
        || location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
           if (target.length) {
             $('html,body').animate({
                 scrollTop: target.offset().top - 125
            }, 700);
            return false;
        }
    }
});
// end scroll animation
</script>
<script type="text/javascript">
//EMAIL CAPTURE
var captureDiv = document.getElementById('emailCapture');
var panel1 = document.getElementById('intro-panel');
  var p1Yes = document.getElementById('intro-btn-yes');
  var p1No = document.getElementById('intro-btn-no');
var panel2 = document.getElementById('yes-panel');
  var p2Yes = document.getElementById('yes-btn-yes');
  var p2No = document.getElementById('yes-btn-no');
var panel3 = document.getElementById('no-panel');
  var p3Yes = document.getElementById('no-btn-yes');
  var p3No = document.getElementById('no-btn-no');


setTimeout( function() {
  captureDiv.className = "email-capture email-capture-in";},
  3000 );

document.getElementById('intro-btn-yes').addEventListener('click', function() {
  console.log('cool');
})

document.getElementById('intro-btn-no').addEventListener('click', function() {
  console.log('hide the email panel')
  captureDiv.style.display="none";
})


</script>

