<h1>SPURS #2.2 - Available NOW</h1>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div data-hook="homepage_products" style="display:block; padding: 100px 10px; max-width: 600px; margin: auto 0;">

  <div data-embed_type="product" data-shop="run-downhill.myshopify.com" data-product_name="SPURS #1" data-product_handle="spurs-1" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="SOLD OUT" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="7db461" data-button_text_color="ffffff" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
  <script type="text/javascript">
  document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
  </script>
  <noscript><a href="https://run-downhill.myshopify.com/cart/18748400263:1" target="_blank">Buy SPURS #1</a></noscript>

  <div data-embed_type="product" data-shop="run-downhill.myshopify.com" data-product_name="SPURS #2.2" data-product_handle="spurs-2-2" data-has_image="true" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="Buy now" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="7db461" data-button_text_color="ffffff" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
<script type="text/javascript">
document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
</script>
<noscript><a href="https://run-downhill.myshopify.com/cart/18748624391:1" target="_blank">Buy SPURS #2.2</a></noscript>

</div>