<div class="store-container">
  <h2 style="text-align: center">SPURS #2.3.1 - Available NOW!</h2>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
  <% end %>

  <div data-hook="homepage_products" style="display:block; padding: 0 10px 100px 10px; margin: auto 0;">
    <div data-accent_color="9bd7eb" data-background_color="ffffff" data-button_background_color="00c0f0" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Your cart" data-cart_total_text="Total" data-checkout_button_text="Checkout" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="run-downhill.myshopify.com" data-sticky="true" data-text_color="000000"></div>

    <div style="padding: 25px; background-color: rgba(255, 255, 255, 0.8)" data-background_color="ffffff" data-button_background_color="00c0f0" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Buy now" data-collection_handle="frontpage" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="run-downhill.myshopify.com"></div>

    <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
  </div>
</div>