<h1>SPURS #2.2</h1>

<div class="row" id="innerContent">	
	<iframe class="bordered" width="70%" height="400px" src="https://www.youtube.com/embed/eEIhg_enmwk" frameborder="0" allowfullscreen>
	</iframe>
</div>

<div class="row" id="innerContent">
	<iframe class="bordered right" width="70%" height="400px" src="https://www.youtube.com/embed/LclrZ5TWSxg" frameborder="0" allowfullscreen>
	</iframe>
</div>

	
<h1>SPURS #1</h1>

<div class="row" id="innerContent" style="padding-left: 12%">	
	<iframe class="bordered" width="80%" height="500px" src="https://www.youtube.com/embed/videoseries?list=PLYiE80O0eiAB3YFJvguCsqIvxEqIAWKmy" frameborder="0" allowfullscreen>
	</iframe>
</div>


<h1>KILBOURN</h1>

<div row="row" id="innerContent" style="padding-left: 12%">
	<iframe class="bordered" width="80%" height="500px" src="https://www.youtube.com/embed/videoseries?list=PLYiE80O0eiACcIM9XYeAPBhrFfXyeBDs-" frameborder="0" allowfullscreen>
	</iframe>
</div>